// VARIABLES
$default-delay: .5s;
@mixin bar-animation($time, $dimension) {
  visibility: hidden;
  @if $dimension == width {
    width: 0;
    -webkit-animation: animate-width;
    -moz-animation: animate-width;
    animation: animate-width;
  }
  @if $dimension == height {
    height: 0;
    -webkit-animation: animate-height;
    -moz-animation: animate-height;
    animation: animate-height;
  }
  animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  -webkit-animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  -moz-animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  animation-duration: $time*2;
  -webkit-animation-duration: $time*2;
  -moz-animation-duration: $time*2;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-webkit-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}

#bar-chart {
  position: relative;
  margin: 50px auto 0;
  * {
    box-sizing: border-box;
  }
  .bars {
    position: absolute;
    width: 100%;
    z-index: 10;
    .bar-group {
      display: flex;
      float: left;
      height: 100%;
      justify-content: center;
      position: relative;
      .bar {
        @include bar-animation($default-delay, height);
        background-color: #03A9F4;
        box-shadow: 1px 0 2px rgba(0,0,0,.15);
        border: 0;
        border-radius: 3px 3px 0 0;
        bottom: 0;
        cursor: pointer;
        height: 0;
        position: absolute;
        text-align: center;
        &:hover {
          background-color: #008bf9;
        }
        span {
          color: #ffffff;
          font-size: 10px;
        }
      }
      @for $i from 1 through 15 {
        .bar-#{$i} {
          animation-delay: $default-delay+.2*$i;
          -webkit-animation-delay: $default-delay+.2*$i;
        }
      }
      .x-label {
        position: absolute;
        bottom: -26px;
        font-size: 12px;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .x-axis {
    position: relative;
    text-align: center;
    width: 100%;
    li {
      float: left;
      font-size: 11px;
    }
  }
  .y-axis {
    position: absolute;
    text-align: right;
    width: 100%;
    li {
      border-top: 1px solid rgba(78, 84, 100, 0.15);
      display: block;
      width: 100%;
      span {
        display: block;
        font-size: 11px;
        margin: -10px 0 0 -60px;
        padding: 0 10px;
        width: 40px;
      }
    }
  }
}
