<div id="bar-chart" [style.width]="graphWidthString" [style.height]="graphHeightString">
  <div class="graph">
    <ul class="y-axis">
      <li *ngFor="let y of yScale" [style.height]="getYPosition()"><span>{{ y }}</span></li>
    </ul>
    <div class="bars" [style.height]="graphHeightString">
      <div class="bar-group" *ngFor="let data of chartData; let i = index;" [style.width]="containerWidth">
        <div class="bar bar-{{i}}" [style.width]="barsWidthString" [style.height]="getBarHeight(data.percentage)"
          placement="top" [ngbTooltip]="tipContent">
          <span class="bar-label">{{ data.percentage }} %</span>
          <ng-template #tipContent>{{ data.amount }} <span class="fa fa-user"></span></ng-template>
        </div>
        <span class="x-label text-center" [style.width]="containerWidth">{{ data.label }}</span>
      </div>
    </div>
  </div>
</div>