<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body pb-2" [@fadeInFadeOutAnimation]>
        {{ property | json}}
      </div>
    </div>
  </div>
</div>