.card {
  background-color: #f9f8f8;
  border: 0;
  box-shadow: 0 6px 0 0 rgba(0,0,0,.01), 0 15px 32px 0 rgba(0,0,0,.06);
  display: block;
  float: left;
  margin: 15px auto;
  width: 100%;
  .card-img-top{
    height: 200px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    img {
      max-height: 100%;
      overflow-y: hidden;
      width: 100%;
    }
  }
  .card-body{
    bottom: 0;
    padding: 155px 18px 0px 18px;
    position: relative;
    width: 100%;
    z-index: 5;
    .group-logo {
      display: table-cell;
      height: 70px;
      position: relative;
      vertical-align: top;
      width: 70px;
      img{
        border: 5px solid #ffffff;
        display: block;
        width: 100%
      }
    }
    h6 {
      color: #009cdb;
      font-weight: 400;
      height: 40px;
      margin: 10px auto;
    }
    .card-title {
      .property-info {
        font-size: 13px;
        font-weight: 100;
        .fa {
          color: rgba(0, 168, 229, 0.35);
          font-size: 15px;
        }
      }
    }
    .button-container {
      padding: 14px 0;
      button {
        border-radius: 20px;
        border: 0;
        color: white;
        font-size: 10px;
        font-weight: 100;
        letter-spacing: 2px;
        margin: auto 6px;
        padding: 6px 14px;
        text-transform: uppercase;
        &.btn-brochure {
          border: 1px solid #00a8e5;
          color: #00a8e5;
        }
        &.btn-gallery {
          background-color:#00a8e5;
        }
      }
    }
  }
}