<div class="card">
  <div class="card-img-top">
    <img [src]="property.mainPhoto" alt="Main Photo" (error)="handleMainPhotoError()">
  </div>
  <div class="card-body pb-2">
    <div class="group-logo">
      <img [src]="property.groupLogo" (error)="handleGroupImgError()" alt="Group Logo">
    </div>
    <h6>{{ property.displayAddress }}</h6>
    <h5 class="card-title">{{ property.priceString }}
      <label class="pull-right property-info mt-1">
        <span class="fa fa-bed"></span> {{ property.bedsString }}
        <span class="fa fa-bath ml-2" *ngIf="property.bathsString"></span> {{ property.bathsString }}
      </label>
    </h5>
    <div class="text-center button-container">
      <button class="btn btn-gallery btn-sm" (click)="openGallery()">View gallery</button>
      <button class="btn btn-brochure btn-sm" (click)="showBrochure()">View brochure</button>
    </div>
  </div>
</div>

<ngx-image-gallery [images]="images" [conf]="conf"></ngx-image-gallery>