<div class="row">
  <div class="col-md-6">
    <h6>Sort by</h6>
    <button class="btn btn-sort" (click)="sortListByPrice()">Price <span [ngClass]="iconButton"></span></button>
  </div>
  <div class="col-md-6">
    <form novalidate [formGroup]="searchPropertyForm" (ngSubmit)="onSubmit()">
      <div class="form-group row mb-0">
        <label class="col-md-4 label-control text-right" for="search">Search by price</label>
        <div class="col-md-8">
          <input currencyMask class="form-control" name="search" formControlName="search" [options]="{ prefix: '€ ', thousands: ',', precision: 0 }">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row" [@listAnimation]="properties.length">
  <ng-template ngFor let-property [ngForOf]="properties">
    <div class="col-md-4">
      <app-property-card [property]="property"></app-property-card>
    </div>
  </ng-template>
  <div class="col-md-12 text-center py-5" *ngIf="properties.length === 0">
    <img src="./assets/img/no-results.png">
    <h5>Sorry, no results! </h5>
  </div>
</div>