<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <a class="navbar-brand visible-desktop" [routerLink]="['/property/list']"><img src="./assets/img/myhome_logo.png"></a>
  <a class="navbar-brand visible-mobile" [routerLink]="['/property/list']"><img src="./assets/img/isologo.png"></a>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/property']" routerLinkActive="router-link-active">Properties list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/chart']" routerLinkActive="router-link-active">Chart</a>
      </li>
    </ul>
  </div>
</nav>