@import "src/assets/sass/partials/responsive";
.navbar {
  .navbar-brand {
    img {
      height: 35px;
    }
  }
  ul.navbar-nav {
    li {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    @include responsive(mobile) {
      flex-direction: row;
    }
  }
  .router-link-active {
    color: #009cdb;
    font-weight: 800;
  }
}