//Responsive Breakpoints definitions
$breakpoints: (
  'tablet'        : ( max-width:  767px ),
  'min-tablet'    : ( min-width: 1024px ),
  'mobile'        : ( max-width:  991px ),
  'min-mobile'    : ( min-width:  992px ),
  'desktop'       : ( max-width: 1200px ),
  'min-desktop'   : ( min-width: 1281px )
);

@mixin responsive($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  // Advice on missing breakpoint
  @else {
    @warn "Value [#{$name}] not found. " + "Check the [$breakpoints] map.";
  }
}// Responsive Mixin

/*  Usage:
    @include responsive(definedVariable) {
      [Css Styles]
    }
*/
.visible-desktop {
    display: block;
    @include responsive(mobile) {
        display: none !important;
    }
}
.visible-mobile {
    display: none !important;
    @include responsive(mobile) {
        display: block !important;
    }
}