@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/css/font-awesome.min.css";

body {
  background-color:#f5f7fa;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
